* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url("public/img/image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}